body {
  margin: 0;
}

/*********/
/* FONTS */
/*********/

body {
  font-family: Roboto;
}

/*****************/
/* COMMON COLORS */
/*****************/

#navbar, 
#hero, 
footer {
  background-color: #1F2937;
}

#information h2,
#quote blockquote {
  color: #1F2937;
}

main {
  background-color: #F9FAF8;
}

#header-logo a,
#hero h1,
#hero .button,
footer {
  color: #F9FAF8;
}

#navbar nav a,
#hero p {
  color: #E5E7EB;
}

#quote {
  background-color: #E5E7EB;
}

#hero button,
#call-to-action {
  background-color: #3882F6;
}

#hero .button,
#information #information-images figure div {
  border-color: #3882F6;
}

/******************/
/* COMMON PADDING */
/******************/

#navbar,
#hero {
  padding-left: 10em;
  padding-right: 10em;
}

/**********/
/* NAVBAR */
/**********/
#navbar {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#navbar #header-logo,
#navbar nav {
  margin-bottom: auto;
  margin-top: auto;
}

#navbar a {
  text-decoration: none;
}

#navbar nav {
  margin-left: auto;
}

#navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

#header-logo a {
  font-size: 24px;
}

/********/
/* MAIN */
/********/

/* HERO */

#hero {
  padding-top: 7em;
  padding-bottom: 7em;
  display: flex;
  gap: 3em;
}

#hero h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

#hero p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0.7em;
}

#hero-image {
  width: 100%;
  background-color: grey;
}

/* INFORMATION */

#information {
  display: flex;
  flex-direction: column;
}

#information h2 {
  font-size: 36px;
  font-weight: 800;
  margin: 0 auto 0 auto;
  padding: 1em 0 1em 0;
}

#information #information-images {
  padding: 0 10em 0 10em;
  display: flex;
  gap: 3.5em;
}

#information #information-images figure {
  text-align: center;
  margin:0;
}

#information #information-images figure div {
  width: 100%;
  aspect-ratio: 1/1;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
}

#information figcaption {
  margin-top: 0.7em;
}

/* QUOTE */

#quote blockquote {
  font-style: italic;
  font-size: 36px;
  font-weight: 300; /* light */  
}

/**********/
/* FOOTER */
/**********/


/**************/
/* COMPONENTS */
/**************/

.button {
  padding: 0.7em 2em 0.7em 2em;
  border-radius: 10px;
  border-width: 2px;
  border-style: none;
  font-size: 16px;
  font-weight: 600;
}