body {
  margin: 0;
}

/*********/
/* FONTS */
/*********/

body {
  font-family: Roboto;
}

/*****************/
/* COMMON COLORS */
/*****************/

#navbar, 
#hero, 
footer {
  background-color: #1F2937;
}

#information h2,
#quote blockquote {
  color: #1F2937;
}

main {
  background-color: #F9FAF8;
}

#header-logo a,
#hero h1,
#hero .button,
#call-to-action,
footer {
  color: #F9FAF8;
}

#call-to-action .button {
  border-color: #F9FAF8;
}

#navbar nav a,
#hero p,
#call-to-action p {
  color: #E5E7EB;
}

#quote {
  background-color: #E5E7EB;
}

#hero button,
#call-to-action > div {
  background-color: #3882F6;
}

#hero .button,
#information #information-images figure div {
  border-color: #3882F6;
}

/******************/
/* COMMON PADDING */
/******************/

#navbar,
#hero,
#call-to-action {
  padding-left: 10em;
  padding-right: 10em;
}

/**********/
/* NAVBAR */
/**********/
#navbar {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#navbar #header-logo,
#navbar nav {
  margin-bottom: auto;
  margin-top: auto;
}

#navbar a {
  text-decoration: none;
}

#navbar nav {
  margin-left: auto;
}

#navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

#header-logo a {
  font-size: 24px;
}

/********/
/* MAIN */
/********/

/* HERO */

#hero {
  padding-top: 7em;
  padding-bottom: 7em;
  display: flex;
  gap: 3em;
}

#hero h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

#hero p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0.7em;
}

#hero-image {
  width: 100%;
  background-color: grey;
}

/* INFORMATION */

#information {
  display: flex;
  flex-direction: column;
  padding: 0 12em 4em 12em;
}

#information h2 {
  font-size: 36px;
  font-weight: 800;
  margin: 0 auto 0 auto;
  padding: 1em 0 1em 0;
}

#information #information-images {
  display: flex;
  width: 100%;
  gap: 3.5em;
  justify-content: center;
}

#information #information-images figure {
  text-align: center;
  margin:0;
}

#information #information-images figure div {
  width: 100%;
  aspect-ratio: 1/1;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
}

#information figcaption {
  margin-top: 0.7em;
}

/* QUOTE */

#quote {
  padding: 6em 14em 6em 14em;
}

#quote figure,
#quote blockquote {
  margin: 0;
}

#quote blockquote {
  font-style: italic;
  font-size: 36px;
  font-weight: 300; /* light */  
}

#quote figcaption {
  margin-top: 1em;
  text-align: right;
  font-size: 22px;
  font-weight: 800;
}

/* CALL TO ACTION */
#call-to-action {
  padding-top: 4em;
  padding-bottom: 4em;
}

#call-to-action > div {
  border-radius: 10px;
  padding: 3em 5em 3em 5em;
  display: flex;
}

#call-to-action > div > div:nth-child(2) {
  margin-left: auto;
}

#call-to-action h2,
#call-to-action p {
  margin: 0;
}

#call-to-action .button {
  background-color: inherit;
}

/**********/
/* FOOTER */
/**********/


/**************/
/* COMPONENTS */
/**************/

.button {
  padding: 0.7em 2em 0.7em 2em;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  font-size: 16px;
  font-weight: 600;
  color: inherit;
}

.button:hover {
  cursor:pointer;
}