body {
  margin: 0;
}

/*********/
/* FONTS */
/*********/

body {
  font-family: Roboto;
}

/*****************/
/* COMMON COLORS */
/*****************/

#navbar, 
#hero, 
footer {
  background-color: #1F2937;
}

#information h2,
#quote blockquote {
  color: #1F2937;
}

main {
  background-color: #F9FAF8;
}

#header-logo a,
#hero h1,
footer {
  color: #F9FAF8;
}

#navbar nav a,
#hero p {
  color: #E5E7EB;
}

#quote {
  background-color: #E5E7EB;
}

#hero button,
#call-to-action {
  background-color: #3882F6;
}

#information img {
  border-color: #3882F6;
}

/******************/
/* COMMON PADDING */
/******************/

#navbar {
  padding-left: 10em;
  padding-right: 10em;
}

/**********/
/* NAVBAR */
/**********/
#navbar {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#navbar #header-logo,
#navbar nav {
  margin-bottom: auto;
  margin-top: auto;
}

#navbar a {
  text-decoration: none;
}

#navbar nav {
  margin-left: auto;
}

#navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

#header-logo a {
  font-size: 24px;
}

/********/
/* MAIN */
/********/

/* HERO */

#hero h1 {
  font-size: 48px;
  font-weight: 800;
}

#hero p {
  font-size: 18px;
}

/* INFORMATION */

#information h2 {
  font-size: 36px;
  font-weight: 800;
}

/* QUOTE */

#quote blockquote {
  font-style: italic;
  font-size: 36px;
  font-weight: 300; /* light */  
}

/**********/
/* FOOTER */
/**********/


/**************/
/* COMPONENTS */
/**************/